@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.658);
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    width: 35em;
    height: auto;
    background-color: rgba(38, 38, 38, 0.251);
    border: 1px solid rgba(255, 255, 255, 0.151);
    padding: 32px;
    border-radius: 6px;
}

.main span {
    color: rgb(255, 255, 255);
    font-family: "Helvetica Neue";
    font-size: 2em;
    text-align: center;
}

label {
    font-family: "Helvetica Neue";
    font-size: 1.1em;
    color: white;
    margin: 10px 0px 5px 0px;
    text-align: center;
}

input {
    color: white;
}

input[type='file'] {
    align-self: center;
    margin-bottom: 10px;
}

button {
    padding: 5px;
    font-size: 1.5em;
    width: 50%;
    max-height: 30%;
    align-self: center;
    border-radius: 6px;
    outline: none;
    border: none;
}

.maps_container {
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    width: 40em;
    max-height: 35%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid rgba(255, 255, 255, 0.151);
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

input[type=file] {
    color: transparent;
}

input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type=file]::before {
    position: absolute;
    right: 50;
    left: 50;
    transform: translateX(300%);
    content: 'select....';
    color: rgb(0, 0, 0);
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    -webkit-transform: translate(134%);
    -moz-transform: translate(134%);
    -ms-transform: translate(134%);
    -o-transform: translate(134%);
}

input[type=file]:hover::before {
    border-color: black;
}

input[type=file]:active {
    outline: 0;
}

input[type=file]:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    max-width: 350px;
    align-self: center;
    cursor: pointer;
}

.osu-popup {
    display: flex;
    width: 80%;
    min-height: 120px;
    margin-bottom: 10px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 8px;
    flex-direction: column;
    cursor: pointer;
}

.osu-popup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: blur(2px);         
}

.osu-popup a {
    font-family: "Arial";
    text-wrap: nowrap;
    z-index: 1;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 12pt !important;
    text-align: center;
}

.maps_container h1 {
    font-family: "Helvetica Neue";
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #000000;
    font-weight: 700;
    font-size: 26pt;
    color: white;
}

.dir {
    border: 2px solid grey;
    max-width: 20%;
}

.dir:hover {
    border: 2px solid blue;
}

#go {
    margin-top: 15px;
    font-family: "Helvetica Neue";
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: #2e2e2e55;
    border: 1px solid rgba(255, 255, 255, 0.194);
}

#go:hover {
    border: 1px solid rgba(255, 255, 255, 0.531);
    cursor: pointer;
}

/* https://www.w3schools.com/howto/howto_css_tooltip.asp */
.tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    font-family: "Helvetica Neue";
    color: rgb(249, 255, 167);
    cursor: pointer;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 480px;
    background-color: #252525;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -240px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1em;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 744px) {

    .container { 
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: space-evenly !important;
    }

    .maps_container {
        width: 90% !important;
        height: 100% !important;
    }

    .main {
        width: 90% !important;
        max-height: 25em;
    }

    select {
        width: 40%;
    }

}

@media (max-height: 850px) {

    .container {
        flex-direction: row;
        align-items: center;
    }

    .main {
        width: 40%;
    }

    select {
        width: 65%;
    }

    button {
        width: 80%;
    }

    .maps_container {
        width: 50%;
    }

}